.myreads-title {
	z-index: 1;
	position: fixed;
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 2em;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookshelves-container {
	padding-top: 58px;
}

.myreads-button {
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.myreads-button button {
	display: block;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #222;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	background-image: url('../icons/add.svg');
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 0;
	outline: 0;
}

.myreads-button button:hover {
	background-color: #555;
	cursor: pointer;
}

.search-bar {
	display: flex;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-back-button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url('../icons/arrow-back.svg');
	font-size: 0;
}

.search-back-button:hover {
	cursor: pointer;
	background-color: #eee;
}

.search-input {
	margin: unset;
	border: none;
	width: calc(100% - 50px);
	font-size: 12pt;
	text-indent: 10px;
	outline: none;
}