.myreads-title {
	z-index: 1;
	position: fixed;
	background-color: #222;
	color: white;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 2em;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookshelves-container {
	padding-top: 58px;
}

.myreads-button {
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.myreads-button button {
	display: block;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #222;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	background-image: url('../icons/add.svg');
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 0;
	outline: 0;
}

.myreads-button button:hover {
	background-color: #555;
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.myreads-title {
		padding: 5px;
		font-size: 1.5em;
	}
}