.myreads-bookshelf-header {
	font-size: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

.myreads-bookshelf-books {
    display: flex;
	padding-left: 0;
	justify-content: center;
}

.myreads-bookshelf-book {
	list-style-type: none;
}

@media screen and (max-width: 628px) {
	.myreads-bookshelf-books {
		flex-flow: column;
	}
}