.myreads-bookshelf-header {
	font-size: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

.myreads-bookshelf-books {
    display: flex;
	padding-left: 0;
	justify-content: center;
}

.myreads-bookshelf-book {
	list-style-type: none;
	margin-right: 50px;
}

.book-top {
	position: relative;
}

.myreads-bookshelf-book img {
    height: 300px;
}

.myreads-bookshelf-book-dropdown {
	position: absolute;
	right: -1em;
	bottom: -10px;
	width: 55px;
	height: 55px;
	border-radius: 30px;
	border: none;
	background-color: #222;
	background-image: url('../icons/arrow-dropdown.svg');
	background-repeat: no-repeat;
	background-size: 28px;
	background-position: center;
	/* overflow: hidden; */
}

.myreads-bookshelf-book-dropdown select {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.book-title, .book-author {
	margin-bottom: unset;
	max-width: 180px;
	margin-top: 5px;
}

.book-author {
	color: grey;
}

@media screen and (max-width: 628px) {
	.myreads-bookshelf-books {
		flex-flow: column;
	}

	.myreads-bookshelf-book {
		width: fit-content;
		display: block;
		margin: 0 auto 20px;
	}
}

@media screen and (max-width: 991px) {
	.myreads-bookshelf-book img {
		height: 250px;
	}
}