.search-bar {
	display: flex;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-page-back-button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url('../icons/arrow-back.svg');
	font-size: 0;
}

.search-page-back-button:hover {
	cursor: pointer;
	background-color: #eee;
}

.search-page-input {
	margin: unset;
	border: none;
	width: calc(100% - 50px);
	font-size: 12pt;
	text-indent: 10px;
	outline: none;
}

.search-page-books {
    display: flex;
    flex-wrap: wrap;
 align-items: center;
}