.myreads-bookshelf-header {
	font-size: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

.myreads-bookshelf-books {
    display: flex;
	justify-content: space-evenly;
	padding-left: 0;
}

.myreads-bookshelf-book {
    list-style-type: none;
}

.myreads-bookshelf-book img {
    height: 300px;
}

.myreads-bookshelf-book button {
	position: relative;
	right: 25px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: none;
	background-image: url('arrow-dropdown.svg');
}

@media screen and (max-width: 628px) {
	.myreads-bookshelf-books {
		flex-flow: column;
	}

	.myreads-bookshelf-book {
		width: fit-content;
		display: block;
		margin: auto;
	}
}

@media screen and (max-width: 991px) {
	.myreads-bookshelf-book img {
		height: 250px;
	}
}